/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header{
  height: 30px;
}

#user-links{
  float:right; 
  display:inline-block;
  margin-bottom: 10px;
  font-color:#999999;
  text-decoration:none;
  font-size:14px;
  font-family: "Microsoft YaHei", "微软雅黑";
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body { 
  background: #009688;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
.loop-wrapper {
  margin: auto; 
  left: 50%;
  margin-left: -330px;
  margin-top: 150px;
  position: relative;
  display: block;
  width: 660px;
  height: 255px;
  overflow: hidden;
  border-bottom: 3px solid #fff;
  color: #fff;
  background: url(http://chris.expert/share/book-components/img/bg.svg) no-repeat center bottom;
}
.loop-wrapper h2 {
  margin: auto;
  margin-top: 60px;
  text-align: center;
  font-size: 38px;
  font-weight: 600;
}
.loop-wrapper h2 span {
  font-weight: 300;
}
.tree {
  position: absolute;
  height: 100px; 
  width: 35px;
  bottom: 0;
  background: url(http://chris.expert/share/book-components/img/tree.svg) no-repeat;
}
.rock {
  margin-top: -17%;
  height: 2%; 
  width: 2%;
  bottom: -3px;
  border-radius: 20px;
  position: absolute;
  background: #ddd;
}
.truck, .wheels {
  transition: all ease;
  width: 85px;
  margin-right: -60px;
  bottom: 0px;
  right: 50%;
  position: absolute;
  background: #eee;
}
.truck {
  background: url(http://chris.expert/share/book-components/img/truck.svg) no-repeat;
  height: 60px;
}
.truck:before {
  content: " ";
  position: absolute;
  width: 25px;
  box-shadow:
    -30px 18px 0 1.5px #fff,
     -35px 8px 0 1.5px #fff,
}
.wheels {
  background: url(http://chris.expert/share/book-components/img/wheels.svg) no-repeat;
  height: 15px;
  margin-bottom: 0;
}

.tree  { animation: tree 4s   0.000s linear infinite; }
.tree:nth-child(2)  { animation: tree2 2s   0.150s linear infinite; }
.tree:nth-child(3)  { animation: tree3 8s   0.050s linear infinite; }
.rock  { animation: rock 4s   -0.530s linear infinite; }
.truck  { animation: truck 4s   0.080s ease infinite; }
.wheels  { animation: truck 4s   0.000s ease infinite; }
.truck:before { animation: wind 5.5s   0.000s ease infinite; }


@keyframes tree {
  0%   { transform: translate(1350px); }
  50% {}
  100% { transform: translate(-50px); }
}
@keyframes tree2 {
  0%   { transform: translate(650px); }
  50% {}
  100% { transform: translate(-50px); }
}
@keyframes tree3 {
  0%   { transform: translate(2750px); }
  50% {}
  100% { transform: translate(-50px); }
}

@keyframes rock {
  0%   { right: -200px; }
  100% { right: 2000px; }
}
@keyframes truck {
  0%   { }
  6%   { transform: translateY(0px); }
  7%   { transform: translateY(-4px); }
  9%   { transform: translateY(0px); }
  10%   { transform: translateY(-1px); }
  11%   { transform: translateY(0px); }
  100%   { }
}
@keyframes wind {
  0%   {  }
  50%   { transform: translateY(5px) }
  100%   { }
}




