// Place all the styles related to the task_boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .changetablepadding{
 	padding:10px 0;
 	color:#FFFFFF;
 	font-size:15px;
 }